ul {
    display:inline-block;
    border:solid black;
    box-sizing: border-box;
    max-width: 520px;
    padding:5px;
}
li {
    display:inline-block;     
    background-color:skyblue;
    text-align:center;
    font-weight: bold;
    border-style:outset;
    padding:5px;
    width:50px;
    height:20px;           
}
li:hover{
    background-color:white;
    cursor:pointer;
}
div{
    border:dashed black;
    box-sizing: border-box;
    height:500px;   
    width:520px;
    max-width: 520px;
    text-align:center;
    font-size:5em;
    display:table-cell;
    vertical-align: middle;
    word-wrap:break-word;
    
}